/* taken from https://github.com/WebDevSimplified/css-only-hamburger-menu */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  --bar-width: 30px;
  --bar-height: 4px;
  --hamburger-gap: 8px;
  --foreground: white;       
  --background: rgba(51, 51, 51, .4);
  --side-background: rgba(51, 51, 51, .9);
  --hamburger-margin: clamp(10px, 1vw, 13px);
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);

  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: 2vmin;
  left: var(--hamburger-margin);
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu:has(input:checked) {
   --foreground: white;
  /* --background: rgba(255, 255, 255, .8); */
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
  
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.sidebar {
  transition: translate var(--animation-timing);
  translate: -100%;
  padding: 0.5rem 1rem;
  margin-top: calc(var(--hamburger-height) + var(--hamburger-margin) - 1rem);
  padding-bottom: calc(var(--hamburger-height) + var(--hamburger-margin) - 2rem);
  background-color: var(--side-background);
  color: var(--foreground);
  /* max-width: 10rem; */
  /* min-height: 50vh; */
  margin-left: -10%;
  text-align: left;
  line-height: 175%;

}

.sidebar nav div a {
    color: #ddd;
    /* text-decoration: 0px white underline; */
    /* text-underline-offset: 2px; */
}

.sidebar nav div a:hover {
    color:#ffffff;
    text-decoration: 2px white underline;
    text-underline-offset: 4px;
    transition: all .25s;
}

.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
  margin-left: -0%;
}