 

 
   /*********************************/
  /***********1.GLOBAL CSS*********/
 /********************************/
 /* Default CSS */

:root {
  --p-fontsize: 2vmax;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, span, video {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   /* font-size: 100%; */
   background: transparent;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
.single_about a {
  color: #008C1F;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.single_about a:hover {
  background-color: black;
}

.single_about a:visited {
  color : #2369BC;
}

.subheader {
  font-weight: 700;
  font-style: italic;
  font-size: 2vmin;
}

button{
  outline: none !important;
}
input
{
    outline:none !important;
}

h1,h2,h3,h4,h5,h6,p{
  margin:0;
  padding:0;
}
input, button, textarea, select{
  outline: none;
}
.btn.focus, .btn:focus {
  outline: none;
  box-shadow: none !important;
}

ul{
  margin:0;
  padding: 0;
  list-style: none;
}
a{
  margin:0;
  padding:0;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
body{
  font-family: 'Work Sans';
  background: #333;
  font-size: var(--p-fontsize);
  font-weight: 400;
  color: #283562;
  overflow: hidden;
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
img{
  width: 100%;
  height: auto;
}
   /*********************************/
  /***********2.GLOBAL CSS**********/
 /********************************/

 header {
	position: fixed;
	width: 100vw;
	background-color: black;
	padding: 18px 0; 
	font-weight: 700;
	font-size: 2.25vmin;
	left: 0;
	top: 0;
}

header a {
	color: white;
	text-decoration: none;
	color: #FFF; 
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-left: 5px;
}

.about_box {
	max-width: 1196px;
	width: 100%;
	margin: 113px auto 0 auto;
}

.about_h2 {
	color: #FFF;
	text-align: center; 
	font-size: 6vmax;
	font-style: italic;
	font-weight: 900;
	line-height: normal;
	letter-spacing: 0.5px;
  position: relative;
  margin-bottom: 50px;
}

.about_h2::after {
	content: '';
	position: absolute;
	width: 80%;
	margin: 0 auto;
	bottom: -12px;
	left: 0;
	right: 0;
	z-index: 9;
	background: #fff;
	height: 5px;
}

.about_text p {
	color: #DDD; 
	font-size: var(--p-fontsize);
	font-style: normal;
	font-weight: 400;
	line-height: calc(var(--p-fontsize) * 1.25);
	letter-spacing: 0.1px;
	margin-bottom: 22px;
}

.single_about h4 {
	font-size: 40px;
	color: #fff;
	margin-bottom: 11px;
}

.single_about {
	margin-bottom: 60px;
}

.single_about ul li p {
	margin-bottom: 5px;
}

.main {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
}








@media all and (max-width: 1200px){
  .main {
    padding: 0 20px;
  }
}
@media all and (max-width: 991px){
  .about_h2 { 
    font-size: 60px; 
  }
  .about_text p { 
    font-size: var(--p-fontsize); 
  }
  .single_about h4 {
    font-size: 24px; 
  }
  
}
@media all and (max-width: 576px){
  header a { 
    font-size: 16px; 
  }
  .about_h2 {
    font-size: 41px;
  }
  .about_h2::after { 
    width: 100%; 
  }
  .about_text p {
    font-size: var(--p-fontsize);
    margin-bottom: 14px;
  }
}